.Bars-module_bar__1_228.Bars-module_project__2gAcM{
    background-color: #2E9AFE;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;

}
.Header-module_row__3oqKd{
    background-color: #F2F2F2;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    font-size: 13px;
}
.TimeScale-module_row__1Lyi6{
    font-size: 16px;
}
/* .Grid-module_grid__2VUMH{
    width: 500px;
    display: inline;
    position: absolute;
    z-index: 1;
} */
